@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body{
    font-family: 'SpaceMono', monospace;
}
header{
    width: 100%;
    min-height:90px;
    position: fixed;
    background-color: #fff;
    z-index: 1;

}
#myName {
    margin:22px 0 22px 35px;
    letter-spacing: 2px;
    font-size: 30px;
    color:#232C5B;
    display: inline-block;
    transition: opacity .4s ease 0s;
    width:40%;

}
#myName:hover, nav ul li:hover {
    opacity: .5;
}

nav {
    display: inline-block;
    width:40%;
    float: right;
    margin-top: 21px;
    text-align: right;
}

nav ul {
        list-style-type: none;
    padding-left: 0;
    }

nav ul li{
    display: inline;
    text-transform: uppercase;
    color: #474E76;
    padding: 0 25px;
    transition: opacity .4s ease 0s;
}

nav ul li:first-child{
    padding-left: 0;
}
nav ul li:last-child{
    padding-right: 60px;
}

#background{
    width:100%;
    height:680px;
    background: scroll url(../images/background.jpg) no-repeat top;
    background-size: 100% 700px;
    position: relative;
    overflow: hidden;
}

#myCart{
    position: relative;
    width:1010px;
    height:680px;
    margin: 0 auto;
}

#myImage,#myInfo {
    width:505px;
    height:480px;
    margin-top: 20%;
}

#myImage img{
    height:100%;
    width:100%;
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#myImage{
	position:absolute;
    display: none;

}
#myInfo{
    display: none;
    background-color: #F1F1F1;
	position:absolute;
	right:0;

}
@keyframes left{
	from{
		opacity:0;
		left:-10%;
	}
	
	to{
		opacity:1;
		left:0;
	}
}
@-o-keyframes left{
    from{
        opacity:0;
        left:-10%;
    }

    to{
        opacity:1;
        left:0;
    }
}
@keyframes right{
	from{
		opacity:0;
		right:-10%;
	}
	
	to{
		opacity:1;
		right:0;
	}
}
@-o-keyframes right{
    from{
        opacity:0;
        right:-10%;
    }

    to{
        opacity:1;
        right:0;
    }
}
@keyframes height{
	from{
		height: 30px;
		opacity:0;
	}
	
	to{
		height:80px;
		opacity:1;
	}
}
@-o-keyframes height{
    from{
        height:30px;
        opacity:0;
    }

    to{
        height:80px;
        opacity:1;
    }
}
#information{
    width:60%;
    margin:20% auto;
    color: #182153;
}

#information h3,h2, h4, h6, p{
    margin: 0;
}

#information h4{
    margin-top: 9px;
}

#link{
    height:80px;
    width:1010px;
    background-color: #102752;
	display: none;
    position:absolute;
    top:0;
}

#link ul, ul li{
    margin:0;
}

#link ul{
    list-style-type: none;
    height:100%;
    width:295px;
    margin:0 auto;
}

#link ul li{
    display: inline-block;
    width:85px;
    height:100%;
	transition:  all .1s;
}

#link ul li a{
    display: block;
    height: 100%;
}

#link ul li:hover{
    cursor:pointer;
	transform: scale(1.2);
}
#link ul li img{
    height:100%;
    width:100%;
}
.container_link{
    max-width: 1010px;
    height:80px;
    margin:0 auto;
    position:relative;
}
#greetings{
    background-color: #F1F1F1;
}

#greet{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    color:#143A6D;
    margin-top: 60px;
    padding-bottom: 50px;
}

#greet p{
    font-size: 20px;
}

#greet h4{
    font-size: 35px;
    line-height: 70px;
}

#education{
    text-align: center;
    height:400px;
    width:100%;
}

#education h2{
    font-size: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:#232C5B;
    height:80px;
    line-height: 80px;
    position: relative;
    border-bottom: 1px solid rgba(112, 128, 144,.4);
}


#sectionedu{
    width:100%;
    margin: 0 auto;
}
.item{
    width: 100%;
    height: 130px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.dateblock{
    text-align: right;
    width:48%;
    float: left;
    padding-right: 2%;
}

.about_education{
    text-align: left;
    width:48%;
    float: left;
    padding-left: 2%;
}
.about_education p{
    width:50%;
}

.line{
    position: absolute;
    left:48%;
    width:4%;
    height:100%;
}
.line > span{
    display:block;
}
.line_height{
    height:80%;
    text-align: center;
    width:1px;
    background-color: #474E76;
    margin-left: 50%;
}
.circle{
    height:10%;
    width:15px;
    margin-left: 40%;
    border-radius: 30%;
    background-color: #474E76;
}