@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body{
    font: 100%/1.5em 'SpaceMono', monospace;
    background: scroll url(../images/background.jpg) no-repeat top;
    background-size: 100% 700px;
}
.fixed {
    position:fixed;
    width:100%;
}
header{
    width: 100%;
    min-height:80px;
    position: fixed;
    background-color: #fff;
    z-index: 1;

}
#myName {
    padding:25px 0 22px 35px;
    letter-spacing: 2px;
    font-size: 1.875em;
    color:#232C5B;
    display: inline-block;
    transition: opacity .4s ease 0s;
    width:40%;
    box-sizing: border-box;

}
#myName:hover, nav ul li:hover {
    opacity: .5;
}

#main_nav {
    width:60%;
    float: right;
    margin-top: 10px;
    text-align: right;
    box-sizing: border-box;
}

#main_nav ul, #fade nav ul {
    list-style-type: none;
    padding-left: 0;
    }

#main_nav ul li, #fade nav ul li{
    display: inline;
    text-transform: uppercase;
    color: #474E76;
    padding: 0 25px;
    transition: opacity .4s ease 0s;
    font-size: 1.125em;

}

#main_nav ul li:first-child{
    padding-left: 0;
}
#main_nav ul li:last-child{
    padding-right: 60px;
}


#myCart{
    position: relative;
    width:1010px;
    height:680px;
    margin: 0 auto;

}

#myImage,#myInfo {
    width:505px;
    height:480px;
    margin-top: 20%;
}

#myImage img{
    height:100%;
    width:100%;
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#myImage{
	position:absolute;
    display: none;

}
#myInfo{
    display: none;
    background-color: #F1F1F1;
	position:absolute;
	right:0;

}
@keyframes left{
	from{
		opacity:0;
		left:-10%;
	}
	
	to{
		opacity:1;
		left:0;
	}
}
@-o-keyframes left{
    from{
        opacity:0;
        left:-10%;
    }

    to{
        opacity:1;
        left:0;
    }
}
@keyframes right{
	from{
		opacity:0;
		right:-10%;
	}
	
	to{
		opacity:1;
		right:0;
	}
}
@-o-keyframes right{
    from{
        opacity:0;
        right:-10%;
    }

    to{
        opacity:1;
        right:0;
    }
}
@keyframes height{
	from{
		height: 30px;
		opacity:0;
	}
	
	to{
		height:80px;
		opacity:1;
	}
}
@-o-keyframes height{
    from{
        height:30px;
        opacity:0;
    }

    to{
        height:80px;
        opacity:1;
    }
}
@keyframes rotate {
    from{
        transform: rotateX(0deg)
    }
    to{
        transform: rotateX(180deg);
    }
}
#information{
    width:60%;
    margin:20% auto;
    color: #182153;
}

#information h3,h2, h4, h6, p{
    margin: 0;
    line-height: 100%;
}

#information h4{
    margin-top: 9px;
    line-height: 150%;
}

#link{
    height:80px;
    width:1010px;
    background-color: #102752;
	display: none;
    position:absolute;
    top:0;
}

#link ul, ul li{
    margin:0;
}

#link ul{
    list-style-type: none;
    height:100%;
    width:295px;
    margin:0 auto;
}

#link ul li{
    display: inline-block;
    width:85px;
    height:100%;
	transition:  all .1s;
}

#link ul li a{
    display: block;
    height: 100%;
}

#link ul li:hover{
    cursor:pointer;
	transform: scale(1.2);
}
#link ul li img{
    height:100%;
    width:100%;
}
.container_link{
    max-width: 1010px;
    height:80px;
    margin:0 auto;
    position:relative;
}
#greetings{
    background-color: #F1F1F1;
}

#greet{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    color:#143A6D;
    margin-top: 60px;
    padding-bottom: 50px;
}

#greet p{
    font-size: 1.25em;
    line-height: 1.25em;

}

#greet h4{
    font-size: 2.1875em;
    line-height: 70px;
}

#education{
    text-align: center;
    height:400px;
    width:100%;
}

#education h2{
    font-size: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:#232C5B;
    height:80px;
    line-height: 80px;
    position: relative;
    border-bottom: 1px solid rgba(112, 128, 144,.4);
}


#sectionedu{
    width:100%;
    margin: 0 auto;
}
.item{
    width: 100%;
    height: 130px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.dateblock{
    text-align: right;
    width:46%;
    float: left;
}

.about_education{
    text-align: left;
    width:46%;
    float: left;
}
.about_education p{
    width:50%;
}
.about_education:after{
    content: '';
    clear: both;
}
.line{
   float: left;
    left:48%;
    width:4%;
    height:100%;
    padding: 0 5px;
}
.line > span{
    display:block;
}
.line_height{
    height:80%;
    width:1px;
    background-color: #474E76;
    margin:0 auto;

}
.circle{
    height:8%;
    width:12px;
    border-radius: 50%;
    background-color: #474E76;
    margin:0 auto;
}

#open_menu{
    background: url(../images/menu.png) no-repeat ;
    background-size: contain;
    margin-top: 10px;
    width:50px;
    height: 50px;
    display: none;
    z-index: 999;
    outline: none;
}

#close_menu{
    float: right;
}
#fade{
    position: absolute;
    background-color: white;
    width: 100%;
    height:100%;
    z-index: 998;
    display: none;
}
#fade nav ul li{
    display: block;
    text-align: center;
    line-height: 45px;
}

#fade nav ul{
    width:50%;
    margin: 50% auto;
}


@media only screen and (max-width : 480px) {
    #main_nav {
        border-bottom: 0;
    }

    #main_nav ul {
        display: none;
        height: auto;
    }

    #main_nav a#open_menu {
        display: inline-block;
        width: 30%;
        position: relative;
    }

    #myImage,#myInfo {
        display: block;
        position: static;
        max-width:480px;
        margin:0 ;
        height:430px;
    }
    #myImage{
        margin-top: 130px;
    }
    #myImage img{
        width:300px;
        height: 400px;
        margin-left: 5px;


    }
    #information{
        margin:15px;

    }
    #link{
        display: block;
        width:100%;
    }
    #myCart{
        height:780px;
        background-size: 100% 100%;
    }
    header{
        top:0;
    }

    body{
        overflow-X: hidden;
    }
}